<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Default Title{% endblock %}</title>
        {% comment %} need to add the path to settings.py {% endcomment %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles_challenges.css' %}"/>
        {% block css_files %}
        {% endblock %}
    </head>
    <body>
    {% block content %}
    {% endblock %}
    {% block pirulo %}
    <hr>
    <p> block pirulo default </p>
    <hr>
    {% endblock %}

    </body>
</html>
