{% extends "base_challenges.html" %}
{% load static %}

{% block css_files %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'challenges/challenges.css' %}"
/>
{%endblock%}

{%comment%}
    {% block title %}All Challenges {%endblock%}
{%endcomment%}

    {% block content %}
        {% include "challenges/includes/header.html" %}
        <header>
            <h1> Challenge Item Index</h1>
        </header>
        <section>
            {%comment "this is a note for the comment"%}
                <p>Commented out text</p>
            {%endcomment%}
            <ul>
                {% for month in month_list %}
                    <li><a href="/challenges/{{ month }}">{{ month|capfirst }}</a></li>
                    <li><a href="{% url 'challenges:month_str_path' month %}"> {{ month|capfirst }} </a></li>
                {% endfor %}
            </ul>
        </section>

        <h1>Template page</h1>
        <h2>This is an h2 placeholder</h2>
        <h2>django variable value for selected month: {{ selected_month|capfirst }} </h2>
        <h2>django variable value for challenge_item: {{ challenge_item|title }} </h2>
    {%endblock%}
